*.cpp linguist-detectable=true
*.res linguist-detectable=false
*.dfm linguist-detectable=false
*.vlb linguist-detectable=false
*.ilc linguist-detectable=false
*.ild linguist-detectable=false 	
*.ilf linguist-detectable=false 	
*.ils linguist-detectable=false 	
*.map linguist-detectable=false 	
*.tds linguist-detectable=false
